@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::selection {
  color: white;
  background-color: #56AB78; 
}


body {
  color: rgb(var(--foreground-rgb));
}

.form-control {
  @apply p-2 rounded-lg border border-main focus:outline-none text-main
}

.btn-main {
  @apply py-2 px-4 rounded-xl border border-main bg-main text-white hover:bg-transparent hover:text-main
}

.btn-main-inverse {
  @apply py-2 px-4 rounded-xl border border-main bg-transparent text-main hover:bg-main hover:text-white
}